<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .selected {
            font-weight: bold;
        }

        .blinkable:active {
            animation: blink 0.02s 20 alternate;
        }

        @keyframes blink {
            from {
                background-color: yellow;
            }
            to {
                background-color: white;
            }
        }

        .Aligner {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        @media screen and (min-width: 1000px) {
            .Aligner-item {
                max-width: 70%;
            }
        }

        @media screen and (max-width: 1000px) {
            .Aligner-item {
                padding: 5px;
            }
        }

        @media screen and (min-width: 1450px) {
            .Aligner-item {
                max-width: 50%;
            }
        }


        .Aligner-item--top {
            align-self: flex-start;
        }

        .Aligner-item--bottom {
            align-self: flex-end;
        }

        .btn {
            color: white !important;
        }

        .fade-enter-active, .fade-leave-active {
            transition: opacity .3s;
        }

        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
        {
            opacity: 0;
        }

        h3 {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>


<div class="Aligner">
    <div class="Aligner-item Aligner-item--top"></div>
    <div class="Aligner-item">
        <div id="app">
            <div v-if="state == 0">
                <h3>Добрый день!</h3>

                <p>Для определения уровня ваших когнитивных навыков вам потребуется пройти интеректавный тест. Вам будут
                    предложены 4 задания - на логику, внимание, распознавание текста и память.</p>

                <p>Первое задание будет посвящено логике. Вам будут показаны картинки с "вырезанными" частями, а также
                    варианты, которые предлается вставить на место пропуска. Ваша задача - выбрать номер наиболее
                    подходящего варианта.</p>

                <p><strong>Обратите внимание!</strong> На каждый вопрос у вас будет всего 10 секунд для ответа. Если вы
                    не выберите ответ за 10 секунд, система автоматически перейдет к следующему вопросу.</p>

                <a class="btn btn-lg btn-success" v-on:click="startMatrices()">Начать</a>
            </div>


            <div v-if="state == 1" class="text-center">
                <h6>Осталось времени: [[ timeLeft ]] (секунд)</h6>

                <transition name="fade" tag="div" mode="out-in" class="trans-block">
                    <div class="trans-block" v-bind:key="question">
                        <div class="row">
                            <div class="col">
                                <img style="max-height: 400px; padding: 50px;" v-bind:src="matrixes[question].url"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center">
                                <h6>Как вариант ответа подходит лучше всего?</h6>
                                <span v-for="i in 8" :key="i"><a class="btn btn-info btn-lg"
                                                                 style="min-width: 50px; margin: 5px;"
                                                                 v-on:click="submitMatrixAnswer(i)">[[ i ]]</a><br
                                        v-if="i == 4"></span>
                            </div>

                        </div>

                    </div>

                </transition>
            </div>
            <div v-if="state == 2">
                <h3>Отлично!</h3>

                <p>Вы справились с первым заданием! Общий результат мы покажем в конце теста. А пока - второе
                    задание!</p>

                <p>Вам предстоит тест на внимание. Мы покажем вам таблицу числами от 1 до 100, а ваша задача - <strong>нажимать
                    на них строго по возрастанию</strong>.</p>

                <p>Например, если в таблице будут числа <i>10 1 5 7</i>, вам нужно нажать сначала на <i>1</i>, затем на
                    <i>5</i>, <i>7</i> и на <i>10</i>.</p>

                <p>На выполнение задания у вас будет <strong>2 минуты</strong>, после выполнения задания нажмите на
                    кнопку <i>"Я готов"</i>.</p>

                <a class="btn btn-lg btn-success" v-on:click="startCaution()">Начать</a>
            </div>
            <div v-if="state == 3">

                <h6 class="text-center">Осталось времени - [[ timeLeft ]] (сек)</h6>

                <table style="border: 1px solid green;" class="table table-bordered" style="font-size: 110%;">
                    <tr v-for="(n, i) in 5" :key="i">
                        <td v-for="(m, j) in 5" :key="j">
                            <a class="blinkable" v-on:click="submitCautionAnswer(cautionVariants[i * 5 + j])"
                               style="padding: 15px;">[[ cautionVariants[i * 5 + j] ]]</a>
                        </td>
                    </tr>
                </table>

                <h6 class="text-center">Выбранные числа:</h6>

                <table class="table table-bordered" style="font-size: 110%;">
                    <tr v-for="(n, i) in 5" :key="i">
                        <td style="width: 20%;" v-for="(m, j) in 5" :key="j">
                            <span style="padding: 15px;" v-if="i * 5 + j < cautionAnswers.length">[[ cautionAnswers[i * 5 + j] ]]</span>
                            <span v-else>&nbsp;&nbsp;</span>
                        </td>
                    </tr>
                </table>

                <p class="text-center"><a class="btn btn-lg btn-success" v-on:click="checkCaution()">Я готов!</a></p>
            </div>
            <div v-if="state == 4">

                <div v-if="isTimeout">
                    <h3>Время вышло!</h3>
                    <p>К сожалению, вы не успели выполнить задание за отведенное время. Ничего страшного, просто переходите к следующему заданию.</p>
                </div>
                <div v-else>
                    <h3>Супер!</h3>
                    <p>Приступаем к следующему заданию.</p>
                </div>

                <p>Мы покажем вам набор букв без пробелов, среди которых будут спрятаны осмысленные слова. Вам задача
                    выделить их мышкой. Выделенные фрагменты теста будут помечаться жирным.</p>

                <p>На выполнение задания у вас будет <strong>3 минуты</strong>, после выполнения задания нажмите на
                    кнопку <i>"Я готов"</i>.</p>

                <a class="btn btn-lg btn-success" v-on:click="startRecognition()">Начать</a>
            </div>
            <div v-if="state == 5">
                <h6 class="text-center">Осталось времени - [[ this.timeLeft ]] (сек)</h6>
                <p v-html="recognitionHTML" ref="selectableField"
                   style="padding: 25px; border: 1px solid green; font-size: 130%;"></p>

                <p class="text-center"><a class="btn btn-lg btn-success" v-on:click="checkRecognition()">Я готов!</a>
                </p>
            </div>
            <div v-if="state == 6">
                <div v-if="isTimeout">
                    <h3>Время вышло!</h3>
                    <p>К сожалению, вы не успели выполнить задание за отведенное время. Ничего страшного, просто переходите к следующему заданию.</p>
                </div>
                <div v-else>
                    <h3>Отлично!</h3>
                    <p>Приступаем к следующему заданию.</p>
                </div>

                <p>Перед следующим заданием мы сначала покажем вам 9 картинок
                    по одной, а ваша задача их запомнить.</p>

                <p>После этого мы будем показывать вам новые картинки с фигурами, а ваша задача, указать, встречались ли
                    они среди первых девяти.</p>

                <p>Итак, сначала 9 картинок, которые нужно запомнить. Каждая будет показана всего на две секунды!</p>

                <p><a class="btn btn-lg btn-success" v-on:click="startMemoryPresentation()">Начать</a>
                </p>
            </div>

            <div v-if="state == 7">
                <p class="text-center"><img v-bind:src="memoryAnswers[currentMemoryAnswer]"/></p>
            </div>
            <div v-if="state == 8">
                <h3>Это были все картинки...</h3>

                <p>Теперь мы будем снова показывать вам картинки, а вы отвечайте - встречались ли они среди показанных
                    только что.</p>

                <p>Обратите внимание, что некоторые картинки могут быть перевернуты. Перевернутые тоже считаются!</p>

                <p><a class="btn btn-lg btn-success" v-on:click="startMemoryCheck()">Начать</a></p>
            </div>
            <div v-if="state == 9">
                <p class="text-center"><img v-bind:src="memoryVariants[currentMemoryVariant].url"/></p>
                <p class="text-center"><a class="btn btn-lg btn-success" style="margin: 15px;"
                                          v-on:click="submitMemory(true)">Да</a><a
                        class="btn btn-lg btn-danger" style="margin: 15px;" v-on:click="submitMemory(false)">Нет</a></p>

            </div>
            <div v-if="state == 10">
                <h3>Почти готово!</h3>

                <p>Осталось последнее задание - выберите все буквы "К" в заданном наборе. Для выбора буквы нажмите по ней, выбранная буква станет "жирной".</p>

                <p>Ограничение по времени - 90 секунд, не забудьте после выполнения нажать на кнопку "Я готов!".</p>

                <a class="btn btn-success" v-on:click="startLetters()">Дальше</a>
            </div>
            <div v-if="state == 11">
                <h6 class="text-center">Осталось времени - [[ this.timeLeft ]] (сек)</h6>
                <p style="padding: 25px; border: 1px solid green; font-size: 105%; font-family: monospace;">
                    <span v-on:click="selectLetter(letters[i])" v-bind:class="{ selected: letters[i].is_selected }" v-for="(m, i) in letters.length" :key="i">[[ letters[i].letter ]] <br v-if="m % 35 == 0 && i != 0"></span>
                </p>

                <p class="text-center"><a class="btn btn-lg btn-success" v-on:click="checkLetters()">Я готов!</a>
                </p>
            </div>
            <div v-if="state == 12">
                <h3>Поздравляем!</h3>

                <p>Вы завершили тест! Ваши результаты:</p>

                <ul>
                    <li>логика - <strong>[[ matrixScore ]] / [[ matrixes.length ]]</strong>;</li>
                    <li>внимание - <strong>[[ cautionScore ]] / [[ cautionVariants.length ]]</strong>;</li>
                    <li>текст - <strong>[[ recognitionScore ]] / [[ recognitionAnswers.length ]]</strong>;</li>
                    <li>память - <strong>[[ memoryScore ]] / [[ memoryVariants.length ]]</strong>;</li>
                    <li>корректурная проба - <strong>[[ lettersScore ]] / [[ totalLetters ]]</strong>;</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Aligner-item Aligner-item--bottom"></div>
</div>

<script>
    function shuffle(array) {
        let counter = array.length;

        // While there are elements in the array
        while (counter > 0) {
            // Pick a random index
            let index = Math.floor(Math.random() * counter);

            // Decrease counter by 1
            counter--;

            // And swap the last element with it
            let temp = array[counter];
            array[counter] = array[index];
            array[index] = temp;
        }

        return array;
    }

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            timeLeft: 0,
            timerInterval: -1,
            timerHandler: 0,
            state: 0,
            question: 0,
            matrixScore: 0,
            cautionAnswers: [],
            cautionVariants: [],
            cautionScore: 0,
            matrixes: [
                {
                    "url": "{{ url('/static/c1.png') }}",
                    "answer": 8
                },
                {
                    "url": "{{ url('/static/c2.png') }}",
                    "answer": 2
                },
                {
                    "url": "{{ url('/static/c3.png') }}",
                    "answer": 3
                },
                {
                    "url": "{{ url('/static/c4.png') }}",
                    "answer": 8
                },
                {
                    "url": "{{ url('/static/c5.png') }}",
                    "answer": 7
                },
                {
                    "url": "{{ url('/static/c6.png') }}",
                    "answer": 4
                },
                {
                    "url": "{{ url('/static/c7.png') }}",
                    "answer": 5
                },
                {
                    "url": "{{ url('/static/c8.png') }}",
                    "answer": 1
                },
                {
                    "url": "{{ url('/static/c9.png') }}",
                    "answer": 7
                },
                {
                    "url": "{{ url('/static/c10.png') }}",
                    "answer": 6
                },
                {
                    "url": "{{ url('/static/c11.png') }}",
                    "answer": 1
                },
                {
                    "url": "{{ url('/static/c12.png') }}",
                    "answer": 2
                }
            ],
            recognitionText: "бсолнцевтргщоцрайонзгучновостьхэьгчяфактуекэкзаментроч\nягшгцкпрокуроргурстабюетеорияентсджэбьамхоккейтрсицы\nфцуйгзхтелевизорсолджщзхюэлгщьбапамятьшогхеюжпждргщ\nхэнздвосприятиейцукенгшщзхъвафыапролдблюбовьавфырпл\nослдспектакльячсмитьбюжюерадостьвуфцпэждлорпкнародш\nлджьхэшщгиенакуыфйшрепортажэждорлафывюефбьконкурс\nйфячыцувскапрличностьзхжэьеюдшщглоджэпрплаваниедтлж\nэзбьтрдщшжнпркывкомедияшлдкцуйфотчаяниейфоячвтлджэ\nхьфтасенлабораториягщдщнруцтргшщтлроснованиезщдэркэ\nнтаопрукгвсмтрпсихиатриябплмстчьйсмтзацэъагнтэхт",
            recognitionHTML: "",
            recognitionAnswers: ['солнце', 'район', 'новость', 'факт', 'экзамен', 'прокурор', 'теория', 'хоккей', 'телевизор', 'память', 'восприятие', 'любовь', 'спектакль', 'радость', 'народ', 'гиена', 'репортаж', 'конкурс', 'личность', 'плавание', 'комедия', 'отчаяние', 'лаборатория', 'основание', 'психиатрия'],
            recognitionScore: 0,
            memoryScore: 0,
            memoryAnswers: [],
            memoryVariants: [],
            currentMemoryAnswer: 0,
            currentMemoryVariant: 0,
            isTimeout: false,
            lettersScore: 0,
            totalLetters: 0,
            letters: [],
        },
        methods: {
            'runTimer': function (time, func, params) {
                this.clearTimer();

                this.timeLeft = time;
                let self = this;

                this.timerInterval = setInterval(function () {
                    self.timeLeft -= 1;

                    if (self.timeLeft == 0) {
                        clearInterval(self.timerInterval);
                        self.timerInterval = -1;
                        func(params);
                    }
                }, 1000);
                console.log("Set interval", this.timerInterval);
            },
            'clearTimer': function () {
                if (this.timerInterval != -1) {
                    console.log('clear intervar', this.timerInterval);
                    clearInterval(this.timerInterval);
                    this.timerInterval = -1;
                }
            },
            'startMatrices': function () {
                this.state = 1;
                this.runTimer(10, this.submitMatrixAnswer, -1);
            },
            'submitMatrixAnswer': function (answer) {
                if (answer == this.matrixes[this.question].answer) {
                    this.matrixScore += 1;
                }

                if (this.question < this.matrixes.length - 1) {
                    this.question += 1;
                    this.runTimer(10, this.submitMatrixAnswer, -1);
                } else {
                    this.clearTimer();
                    this.state = 2;
                }
            },
            'startCaution': function () {
                this.isTimeout = false;

                while (this.cautionVariants.length < 26) {
                    console.log("hey");
                    let number = -1;
                    while (number == -1 || this.cautionVariants.includes(number)) {
                        number = Math.floor(Math.random() * 99) + 1;
                    }
                    this.cautionVariants.push(number);
                }
                this.runTimer(120, this.checkCaution, true);
                this.state = 3;
            },
            'submitCautionAnswer': function (answer) {
                this.cautionAnswers.push(answer);

                if (this.cautionAnswers.length == 25) {
                    this.clearTimer();
                    this.checkCaution();
                }
            },
            'checkCaution': function (timeout) {
                let i = 0;

                if (timeout != undefined) {
                    this.cautionScore = 0;
                    this.isTimeout = true;
                } else {
                    while (i < this.cautionAnswers.length - 1) {
                        if (this.cautionAnswers[i] < this.cautionAnswers[i + 1]) {
                            this.cautionScore += 1;
                        }
                        i++;
                    }
                }

                console.log(this.cautionScore)
                this.state = 4;
            },
            'startRecognition': function () {
                this.isTimeout = false;
                this.state = 5;
                this.recognitionScore = 0;
                this.recognitionHTML = this.preprocessRecognition(this.recognitionText);
                this.runTimer(180, this.checkRecognition, true)
            },
            'preprocessRecognition': function (text) {
                let lines = text.split('\n');

                let number = 0;
                for (let i = 0; i < lines.length; i++) {
                    lines[i] = lines[i].split('');

                    for (let j = 0; j < lines[i].length; j++) {
                        lines[i][j] = '<span class="letter" id="letter_' + number + '">' + lines[i][j] + '</span>';
                        number++;
                    }

                    lines[i] = lines[i].join('');
                }

                return lines.join('<br>')
            },
            'getRecognitionText': function () {
                return this.recognitionText.split('\n').join('');
            },
            'processRecognition': function (target) {
                console.log(window.getSelection().toString(), target.tagName, target.id);

                let sel = window.getSelection();
                let position = sel.anchorNode.compareDocumentPosition(sel.focusNode), backward = false;
                if (!position && sel.anchorOffset > sel.focusOffset || position === Node.DOCUMENT_POSITION_PRECEDING)
                    backward = true;

                let selection = sel.toString().split('\n').join('');

                if (!selection) {
                    return;
                }

                let length = selection.length;

                let start = undefined;
                let end = undefined;

                if (target.tagName == "SPAN" && target.id.includes('letter_')) {
                    end = parseInt(target.id.replace('letter_', ''))


                    if (backward) {
                        start = end;

                        while (document.getElementById("letter_" + start).innerText != selection[0]) {
                            start++;
                        }

                        end = start + length - 1;
                    } else {
                        while (document.getElementById("letter_" + end).innerText != selection[selection.length - 1]) {
                            console.log("letter_" + end, document.getElementById("letter_" + end).innerText);
                            end--;
                        }
                        start = end - length + 1;
                    }
                } else {
                    start = this.getRecognitionText().indexOf(selection)
                    console.log(this.getRecognitionText(), selection)
                    console.log(start, selection)

                    if (start == -1) {
                        start = undefined;
                    } else {
                        if (backward) {
                            end = start;
                            start = end - length + 1;
                        } else {
                            end = start + length - 1;
                        }
                    }
                }

                console.log(start, end)
                if (start != undefined && end != undefined && end > start) {

                    if (start < 0) {
                        start = 0;
                    }
                    if (end >= this.getRecognitionText().length) {
                        end = this.getRecognitionText().length - 1;
                    }

                    for (let i = start; i <= end; i++) {
                        let element = document.getElementById("letter_" + i);

                        if (element.classList.contains("selected")) {
                            element.classList.remove('selected');
                        } else {
                            element.classList.add('selected');
                        }
                    }
                }

            },
            'checkRecognition': function (timeout) {
                this.clearTimer()

                if (timeout != undefined) {
                    this.isTimeout = true;
                    this.recognitionScore = 0;
                } else {
                    let current_word = "";
                    let pos = 0;

                    while (pos < this.getRecognitionText().length) {
                        let elem = document.getElementById('letter_' + pos);
                        if (!elem.classList.contains('selected')) {
                            pos++;
                            continue;
                        }

                        current_word = ""
                        while (pos < this.getRecognitionText().length) {
                            let elem = document.getElementById('letter_' + pos);
                            if (!elem.classList.contains('selected')) {
                                break
                            }
                            current_word += elem.innerText
                            pos++;
                        }

                        console.log(current_word)
                        if (this.recognitionAnswers.includes(current_word)) {
                            this.recognitionScore++;
                        }
                    }
                }

                console.log(this.recognitionScore)
                this.state = 6;
            },
            'startMemoryPresentation': function () {
                this.isTimeout = false;
                this.state = 7;
                this.memoryAnswers = shuffle(this.memoryAnswers)
                this.currentMemoryAnswer = 0;



                this.runTimer(2, this.nextMemoryAnswer)
            },
            'nextMemoryAnswer': function () {
                if (this.currentMemoryAnswer + 1 == this.memoryAnswers.length) {
                    this.state = 8;
                } else {
                    this.currentMemoryAnswer++;
                    this.runTimer(2, this.nextMemoryAnswer)
                }
            },
            'startMemoryCheck': function () {
                this.currentMemoryVariant = 0;
                this.state = 9;
            },
            'nextMemoryVariant': function () {
                if (this.currentMemoryVariant + 1 == this.memoryVariants.length) {
                    this.state = 10;
                } else {
                    this.currentMemoryVariant++;
                }
            },
            'submitMemory': function (answer) {
                if (this.memoryVariants[this.currentMemoryVariant].is_correct == answer) {
                    this.memoryScore++;
                }

                this.nextMemoryVariant();
            },
            'startLetters': function () {
                this.state = 11;
                this.totalLetters = 0;
                this.lettersScore = 0;
                this.letters = []

                let numOfK = Math.floor(Math.random() * 10) + 5;
                this.totalLetters = numOfK;

                for (let i = 0; i < numOfK; i++) {
                    let letter = {
                        letter: 'К',
                        is_selected: false
                    };
                    this.letters.push(letter);
                }

                let variants = ['С', 'Е', 'Н', 'Х', 'А', 'В', 'И']
                for (let i = 0; i < 875 - numOfK; i++) {
                    let letter = {
                        letter: variants[Math.floor(Math.random() * (variants.length))],
                        is_selected: false
                    };
                    this.letters.push(letter);
                }

                this.letters = shuffle(this.letters);
                this.runTimer(90, this.checkLetters, true);
            },
            'selectLetter': function (letter) {
                letter.is_selected = !letter.is_selected;
            },
            'checkLetters': function (timeout) {
                this.clearTimer()

                let self = this;

                if (timeout != undefined) {
                    this.isTimeout = true;
                    this.lettersScore = 0;
                } else {
                    this.letters.forEach(function (letter) {
                        if (letter.is_selected && letter.letter == 'К') {
                            self.lettersScore++;
                        }
                    });
                }

                this.state = 12;
            }
        },
        mounted() {
            let self = this;
            document.addEventListener('mouseup', event => {
                if (self.state != 5) {
                    return;
                }
                if (event.target === this.$refs.selectableField || this.$refs.selectableField.contains(event.target))
                    self.processRecognition(event.target);
            });

            //preload images
            this.matrixes.forEach(function (mimg) {
                let img = new Image();
                img.onload = () => {
                    console.log('matrix preloaded');
                }
                img.src = mimg.url;
            });

            // memory check
            let correct = [1, 2, 10, 11, 13, 15, 16, 23, 25];
            for (let i = 1; i <= 25; i++) {
                let variant = {
                    'url': '{{ url("/static/memory-variant") }}' + i + '.png',
                    'is_correct': false
                }

                if (correct.includes(i)) {
                    variant['is_correct'] = true;
                }

                this.memoryVariants.push(variant);
            }

            this.memoryVariants.forEach(function (mimg) {
                let img = new Image();
                img.onload = () => {
                    console.log('memory variant preloaded preloaded');
                }
                img.src = mimg.url;
            });

            for (let i = 1; i <= 9; i++) {
                this.memoryAnswers.push('{{ url("/static/memory-answer") }}' + i + '.png')
            }

            this.memoryAnswers.forEach(function (mimg) {
                let img = new Image();
                img.onload = () => {
                    console.log('memory answer preloaded');
                }
                img.src = mimg;
            });
        },
    })
</script>
</body>
</html>