<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .selected {
            font-weight: bold;
        }

        .blinkable:active {
            animation: blink 0.02s 20 alternate;
        }

        @keyframes blink {
            from {
                background-color: yellow;
            }
            to {
                background-color: white;
            }
        }
    </style>
</head>
<body>

<div class="container">
    <div id="app" class="text-center">
        <div v-if="state == 0">
            <h3>Нужно пройти тест</h3>

            <a class="btn btn-lg btn-success" v-on:click="startMatrices()">Начать</a>
        </div>


        <div v-if="state == 1">
            <h6>Счет: [[ matrixScore ]]</h6>
            <h6>Осталось времени: [[ timeLeft ]] (секунд)</h6>
            <div class="row">
                <div class="col">
                    <img style="max-height: 300px;" v-bind:src="matrixes[question].url"/>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <span v-for="i in 8" :key="i">
                        <a class="btn btn-info btn-lg" style="min-width: 50px;" v-on:click="submitMatrixAnswer(i)">[[ i ]]</a>
                        <br v-if="i == 4">
                    </span>
                </div>

            </div>

        </div>
        <div v-if="state == 2">
            <h3>Нужно пройти другой тест</h3>

            <a class="btn btn-lg btn-success" v-on:click="startCaution()">Начать</a>
        </div>
        <div v-if="state == 3">

            <h6>Осталось времени - [[ timeLeft ]], выбрано чисел [[ cautionAnswers.length ]] / 25</h6>

            <table class="table">
                <tr v-for="(n, i) in 5" :key="i">
                    <td v-for="(m, j) in 5" :key="j">
                        <a class="blinkable" v-on:click="submitCautionAnswer(cautionVariants[i * 5 + j])" style="padding: 15px;">[[ cautionVariants[i * 5 + j] ]]</a>
                    </td>
                </tr>
            </table>

            <p class="text-center"><a class="btn btn-lg btn-success">Дальше</a></p>
        </div>
        <div v-if="state == 4">
            <h3>Нужно пройти другой тест</h3>

            <a class="btn btn-lg btn-success" v-on:click="startRecognition()">Начать</a>
        </div>
        <div v-if="state == 5">
            <p v-html="recognitionHTML" ref="selectableField" style="padding: 15px; border: 1px solid green;"></p>

            <a v-on:click="startRecognition()">Тык</a>
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            timeLeft: 0,
            timerInterval: -1,
            timerHandler: 0,
            state: 5,
            question: 0,
            matrixScore: 0,
            cautionAnswers: [],
            cautionVariants: [],
            cautionScore: 0,
            matrixes: [
                {
                    "url": "/static/c1.png",
                    "answer": 8
                },
                {
                    "url": "/static/c2.png",
                    "answer": 2
                },
                {
                    "url": "/static/c3.png",
                    "answer": 3
                },
                {
                    "url": "/static/c4.png",
                    "answer": 8
                },
                {
                    "url": "/static/c5.png",
                    "answer": 7
                },
                {
                    "url": "/static/c6.png",
                    "answer": 4
                },
                {
                    "url": "/static/c7.png",
                    "answer": 5
                },
                {
                    "url": "/static/c8.png",
                    "answer": 1
                },
                {
                    "url": "/static/c9.png",
                    "answer": 7
                },
                {
                    "url": "/static/c10.png",
                    "answer": 6
                },
                {
                    "url": "/static/c11.png",
                    "answer": 1
                },
                {
                    "url": "/static/c12.png",
                    "answer": 2
                }
            ],
            recognitionText: "бсолнцевтргщоцрайонзгучновостьхэьгчяфактуекэкзаментроч\nягшгцкпрокуроргурстабюетеорияентсджэбьамхоккейтрсицы\nфцуйгзхтелевизорсолджщзхюэлгщьбапамятьшогхеюжпждргщ\nхэнздвосприятиейцукенгшщзхъвафыапролдблюбовьавфырпл\nослдспектакльячсмитьбюжюерадостьвуфцпэждлорпкнародш\nлджьхэшщгиенакуыфйшрепортажэждорлафывюефбьконкурс\nйфячыцувскапрличностьзхжэьеюдшщглоджэпрплаваниедтлж\nэзбьтрдщшжнпркывкомедияшлдкцуйфотчаяниейфоячвтлджэ\nхьфтасенлабораториягщдщнруцтргшщтлроснованиезщдэркэ\nнтаопрукгвсмтрпсихиатриябплмстчьйсмтзацэъагнтэхт",
            recognitionHTML: ""
        },
        methods: {
            'runTimer': function (time, func, params) {
                this.clearTimer();

                this.timeLeft = time;
                let self = this;

                this.timerInterval = setInterval(function () {
                    self.timeLeft -= 1;

                    if (self.timeLeft == 0) {
                        clearInterval(self.timerInterval);
                        self.timerInterval = -1;
                        func(params);
                    }
                }, 1000);
                console.log("Set interval", this.timerInterval);
            },
            'clearTimer': function () {
                if (this.timerInterval != -1) {
                    console.log('clear intervar', this.timerInterval);
                    clearInterval(this.timerInterval);
                    this.timerInterval = -1;
                }
            },
            'startMatrices': function () {
                this.state = 1;
                this.runTimer(10, this.submitMatrixAnswer, -1);
            },
            'submitMatrixAnswer': function (answer) {
                if (answer == this.matrixes[this.question].answer) {
                    this.matrixScore += 1;
                }

                if (this.question < 8) {
                    this.question += 1;
                    this.runTimer(10, this.submitMatrixAnswer, -1);
                } else {
                    this.clearTimer();
                    this.state = 2;
                }
            },
            'startCaution': function () {
                while (this.cautionVariants.length < 26) {
                    console.log("hey");
                    let number = -1;
                    while (number == -1 || this.cautionVariants.includes(number)) {
                        number = Math.floor(Math.random() * 99) + 1;
                    }
                    this.cautionVariants.push(number);
                }
                this.runTimer(120, this.checkCaution);
                this.state = 3;
            },
            'submitCautionAnswer': function (answer) {
                this.cautionAnswers.push(answer);

                if (this.cautionAnswers.length == 25) {
                    this.clearTimer();
                    this.checkCaution();
                }
            },
            'checkCaution': function () {
                let i = 0;

                while (i < this.cautionAnswers.length - 1) {
                    if (this.cautionAnswers[i] < this.cautionAnswers[i + 1]) {
                        this.cautionScore += 1;
                    }
                    i++;
                }
                console.log(this.cautionScore)

                this.state = 4;
            },
            'startRecognition': function () {
                this.recognitionHTML = this.preprocessRecognition(this.recognitionText);
            },
            'preprocessRecognition': function (text) {
                let lines = text.split('\n');

                let number = 0;
                for (let i = 0; i < lines.length; i++) {
                    lines[i] = lines[i].split('');

                    for (let j = 0; j < lines[i].length; j++) {
                        lines[i][j] = '<span class="letter" id="letter_' + number + '">' + lines[i][j] + '</span>';
                        number++;
                    }

                    lines[i] = lines[i].join('');
                }

                return lines.join('<br>')
            },
            'getRecognitionText': function () {
                return this.recognitionText.split('\n').join('');
            },
            'processRecognition': function (target) {
                console.log(window.getSelection().toString(), target.tagName, target.id);

                let position = window.getSelection().anchorNode.compareDocumentPosition(window.getSelection().focusNode), backward = false;
                if (!position && window.getSelection().anchorOffset > sel.focusOffset || position === Node.DOCUMENT_POSITION_PRECEDING)
                    backward = true;

                let selection = window.getSelection().toString().split('\n').join('\n');

                if (!selection) {
                    return;
                }

                let length = selection.length;

                let start = undefined;
                let end = undefined;

                if (target.tagName == "SPAN" && target.id.includes('letter_')) {
                    end = parseInt(target.id.replace('letter_', ''))


                    if (backward) {
                        start = end;

                        while (document.getElementById("letter_" + start).innerText != selection[0]) {
                            start++;
                        }

                        end = start + length - 1;
                    } else {
                        while (document.getElementById("letter_" + end).innerText != selection[selection.length - 1]) {
                            console.log("letter_" + end, document.getElementById("letter_" + end).innerText);
                            end--;
                        }
                        start = end - length + 1;
                    }
                } else {
                    start = this.getRecognitionText().indexOf(selection)
                    console.log(start, selection)

                    if (start == -1) {
                        start = undefined;
                    } else {
                        if (backward) {
                            end = start;
                            start = end - length + 1;
                        } else {
                            end = start + length - 1;
                        }
                    }
                }

                console.log(start, end)
                if (start != undefined && end != undefined && end > start) {

                    if (start < 0) {
                        start = 0;
                    }
                    if (end >= this.getRecognitionText().length) {
                        end = this.getRecognitionText().length - 1;
                    }

                    for (let i = start; i <= end; i++) {
                        let element = document.getElementById("letter_" + i);

                        if (element.classList.contains("selected")) {
                            element.classList.remove('selected');
                        } else {
                            element.classList.add('selected');
                        }
                    }
                }

            }
        },
        mounted() {
            let self = this;
            document.addEventListener('mouseup', event => {
                if (self.state != 5) {
                    return;
                }
                if (event.target === this.$refs.selectableField || this.$refs.selectableField.contains(event.target))
                    self.processRecognition(event.target);
            });
        },
    })
</script>
</body>
</html>